[init]
	defaultBranch = main

[pull]
	rebase = true

[alias]
	lg = log --graph --decorate --all --date=relative --pretty=format:'%C(auto)%h%d%Creset %s %C(dim white)(%cr)%Creset %C(blue)<%an>%Creset'

[include]
	path = ~/.gitconfig.local
